<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<meta name="Jewliebots Code Generator" />
		<meta author="Maria Paula Saba, Sara Chipps" />
		<title>JewlieBots</title>
        <link rel="shortcut icon" href="img/jewlie.ico" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/selectbox.css" >
		<link rel="stylesheet" type="text/css" href="spectrum/spectrum.css" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>        
        <script type="text/javascript" src="js/jquery.selectbox-0.2.min.js"></script>   
        <script type="text/javascript" src="spectrum/spectrum.js"></script>
        <script type="text/javascript" src="js/arduino.js"></script>
    </head>
	
	<body>
		<div id="container">
		<header>
			<a href="#"><img id="logo" alt="Jewliebots" title="Jewliebots" src="img/logo.png" /></a>
			<nav>
				<ul>
					<li><a href="#" class="menuSelected">WHAT IT IS</a></li>	
					<li ><a href="bots.html">PROGRAM</a></li>	
					<li><a href="#">LEARN</a></li>	
					<li><a href="#">GALLERY</a></li>	
				</ul>	
			</nav>
<!--
			<div id="stars">
					<img src="img/star.png" />
					<img src="img/star.png" />
					<img src="img/star.png" />
			</div>
-->

			<div id="register">
				<ul>
					<li><a href="#">LOGIN</a></li>
					<img src="img/star.png" />
					<li><a href="#">COMING SOON</a></li>	
				</ul>
			</div>			
		</header>

		<div id="main">
			<section class="home">
			 	<h2>What are Jewliebots?</h2>	
			 	<div class="box_home">
			     <p class="landing">Jewliebots introduce software education to teenaged girls in a way that is appealing to them. It is a set of neat jewelry and wearables that girls can program their appearance and behavior in an easy to use web interface. <br/><br/>
					 Jewliebots is a joint effort of <a href="http://sarajchipps.com/" class="front">Sara Chipps</a> and <a href="http://mariapaulasaba.com/" class="front">Maria Paula Saba</a>, who developed it as part of her master thesis at  <a href="http://itp.nyu.edu" class="front">ITP/NYU</a>. They are currently working on new prototypes and looking for investments/ help to make it feasible to large produce them.
					 
					</p>
					<iframe src="http://player.vimeo.com/video/96708475?portrait=0&title=0" width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>		
				
				
				<h3>Why Jewliebots?</h3>	        
                <div class="box_home"> 
				<p class="landing">Tech is a male dominated field. Girls are discouraged to follow a tech<br/> career for several reasons, like lack of role models and CS intimidating environments. Computer Sciences jobs are increasing in an incredible rate and women won't be able to compete for these jobs if they don't learn programming. This project's goal is to engage and increase girls interest in the workings of technology by showing them that coding can be also beautiful. <br/><br/> <a href="http://sheplusplus.stanford.edu/" class="front">She++</a> is a documentary produced by Standford CS alumni that exposes<br/> the problems with the scenario described above:
</p>				
				<iframe src="http://player.vimeo.com/video/63877454" width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
				</div>	
                   
            </section>

			<section class="home">
				
				<h2>Jewlie #1 - our first prototype!</h2>	        
                <div class="box_home"><p class="landing"> 
				The first prototype is a 3D printed flexible bracelet, with colored lights, buttons and a motion sensor. The colors change according to the code, that can be customized through a web interface. In this way, girls can easily express themselves through how the jewel looks and reacts to movement and button presses at the same time they learn logics of programming.</p>
				
				<figure id="bracelet">
                    <img src="img/bracelet.jpg" />
				 </figure>
				
				
				</div>	
                <h3>Who are Jewliebots designed to?</h3>
                <div class="box_home"> 
					<p class="landing"> Jewliebots are aimed at teenaged girls, but anyone can use it! <br/>So far, we have done user tests in the Lower East Side Girls Club and at Eleanor Roosevelt High School, with girls from 14-17 years old, and in both places we got great reception.<br/><br/> Girls could easily adopt the programming interface and expressed great happiness when they see their code happening in the jewel.<br/> Try the code generator now! Just go to "Program" in the header menu.
				<figure id="usertest">
                    <img src="img/usertesting.jpg" />
				 </figure>
				</div>
            </section>
		</div>	
		<footer>
			<div id="wrapper"><ul>
				<li><a href="#">ABOUT</a></li>	
					<img src="img/diamond.png" />
				<li><a href="#">FAQ</a></li>	
					<img src="img/diamond.png" />
				<li><a href="#">PRESS</a></li>	
					<img src="img/diamond.png" />
				<li><a href="#">CONTACT</a></li>	
			</ul>	
            </div>
		</footer>	
		</div>
        <script type="text/javascript" src="js/script.js"></script>	
	</body>
</html>
